body{
    margin:0;
}
h1{
    margin: 0;
    padding-top: 40vh;
    width: 90%;
}

.create-account {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    height: 100vh;
}

.create-account h1{
    text-align: center;
    padding: none;
}

.create-account button {
    box-shadow: none;
}