body{
    margin:0;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    background-repeat:  no-repeat;
    font-style: arial;
    color: whitesmoke;
}
h1{
    margin: 0;
    padding-top: 40vh;
    width: 90%;
}

.create-account {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    height: 100vh;
}

.create-account h1{
    text-align: center;
    padding: none;
}

.create-account button {
    box-shadow: none;
}